.marketing-page-card {
  @apply bg-gray-100;
  @apply p-6;
  @apply shadow-xl;
  @apply rounded-sm;
  @apply border-t-4;
  @apply border-teal-vivid-400;
  @apply flex;
  @apply flex-col;
  @apply items-center;
}

/* sm */
@media (min-width: 640px) {
  .marketing-page-card {
    max-width: 35rem;
  }
}

/* md */
/* @media (min-width: 768px) {
  .marketing-page-card {
    height: 30rem;
    width: 20rem;
  }
} */

/* lg */
@media (min-width: 1024px) {
  .marketing-page-card {
    height: 30rem;
    width: 20rem;
  }
}
